<section id="home" [ngStyle]="{backgroundImage:'url(assets/images/home-background.jpg)'}"
    class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <h1 class="mt-3">Resha Elfianur</h1>
        <ngx-typed-js [strings]="['', 'Full-Stack', 'WEB', 'Mobile']" [typeSpeed]="120" [backSpeed]="100" [loop]="true">
            <p>I am Developer <span class="typing"></span></p>
        </ngx-typed-js>
    </div>
</section>