<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand home p-2 rounded smooth-scroll text-uppercase" href="#"><i class='bx bx-home'></i> Home
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item p-1 rounded">
                    <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#about"><i
                            class='bx bx-user'></i> About
                    </a>
                </li>
                <li class="nav-item p-1 rounded">
                    <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#competences"><i
                            class='bx bx-briefcase-alt'></i> Competences</a>
                </li>
                <li class="nav-item p-1 rounded">
                    <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#cv"> <i
                            class='bx bx-file-blank'></i> CV</a>
                </li>
                <li class="nav-item p-1 rounded">
                    <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#portfolio"> <i
                            class='bx bx-book-content'></i> Portfolio</a>
                </li>
                <li class="nav-item p-1 rounded">
                    <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#references"><i
                            class='bx bxs-badge-check'></i> Recommandations</a>
                </li>
                <li class="nav-item p-1 rounded">
                    <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#contact"> <i
                            class='bx bx-envelope'></i> Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>